$color-primary: #1145ee;
$color-secondary: #11b3ee;
$font-center-fix: translateY(-3px);

.contacts-main__list__header__options__top__sort {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;

  p {
    margin: 0;
    cursor: pointer;
    &:hover {
      text-shadow: #d7f2fc 4px 3px 3px;
    }
  }

  .sort-a {
    color: #eeba11;
  }

  .sort-z {
    color: #ee1145;
  }
}
