.contact-details__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5vw;
    background-color: #d7f2fc;
    flex-grow: 1;
    border-bottom: 15px solid white;
    border-top: 15px solid white;
    &__info {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10vw;

      &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.2em;
      }
    }

    &__buttons {
      display: flex;
      gap: 30px;
      padding-bottom: 20px;

      button {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 7px;
        padding-bottom: 0.2em;
        cursor: pointer;
        color: white;
      }

      &__edit {
        width: 108px;
        height: 30px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__edit {
        background-color: #eeba11;
      }

      &__delete {
        background-color: #ee1145;
      }
    }
  }
}
